/* ==============================
START - NOT IMPORTANT STYLES
================================= */

p {
    margin: 20px 20px;
}

/* ==============================
END - NOT IMPORTANT STYLES
================================= */

/* ==============================
START - TECMILENIO NAVBAR REGION
================================= */

/* TECMILENIO NAV REGION */

.tecmilenio__navbar__region {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    width: 100%;
}

/* TECMILENIO NAVBAR TOP REGION */

.tecmilenio__navbar__top {
    height: 42px;
    width: 100%;
    background-color: #00A499;
    display: none;
    position: relative;
}

.tn__activo .tecmilenio__navbar__top {
    display: block;
}

.tecmilenio__navbar__top .container-xl {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.tecmilenio__navbar__top .tecmilenio__navbar__top__menu {
    margin: 0px 0px;
    list-style-type: none;
}

.tecmilenio__navbar__top .tecmilenio__navbar__top__menu .tnt__menu__item {
    float: left;
    margin-right: 20px;
}

.tecmilenio__navbar__top .tecmilenio__navbar__top__menu .tnt__menu__item a{
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;    
    color: white;
    transition: color 0.3s ease;
}

.tecmilenio__navbar__top .tecmilenio__navbar__top__menu .tnt__menu__item a:hover{
    text-decoration: none;
    color: #00534C;
}


/* TECMILENIO NAVBAR MAIN REGION */

.tecmilenio__navbar__main {
    background-color: #00534C;
    position: relative;
    height: 81px;
}

.tn__activo .tecmilenio__navbar__main {
    height: calc(100vh - 42px);
}

.tecmilenio__navbar__main .container-xl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 81px;
    flex-wrap: nowrap;
}

.tecmilenio__navbar__main .tecmilenio__navbar__main__logo {
    max-width: 200px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 81px;
}

.tecmilenio__navbar__main .tecmilenio__navbar__main__logo img {
    width: 100%;
}

/* HAMBURGUESA */

.tecmilenio__burger {
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    height: 81px;
}

.tecmilenio__burger .bar1,
.tecmilenio__burger .bar2,
.tecmilenio__burger .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate tecmilenio__burger */
.tn__activo.tecmilenio__burger .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.tn__activo.tecmilenio__burger .bar2 {
    opacity: 0;
}

.tn__activo.tecmilenio__burger .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .tecmilenio__navbar__main .tecmilenio__navbar__main__logo {
        max-width: 250px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Mobile breakpoint by Tecmilenio */
@media (min-width : 960px) {
    /* TECMILENIO NAV REGION */

    .tecmilenio__navbar__region {
        display: block;
        position: relative;
    }

    /* TECMILENIO NAV TOP REGION */

    .tecmilenio__navbar__top {
        height: 64px;
        width: 100%;
        background-color: #00A499;
        display: block;
    }

    .tecmilenio__navbar__top .container-xl {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;
    }

    .tecmilenio__navbar__top .tecmilenio__navbar__top__menu {
        margin: 0px 0px;
        list-style-type: none;
    }

    .tecmilenio__navbar__top .tecmilenio__navbar__top__menu .tnt__menu__item {
        float: left;
        margin-right: 20px;
    }

    /* TECMILENIO NAV MAIN REGION */

    .tecmilenio__navbar__main {
        /* height: 81px; */
        height: auto;
        width: 100%;
        background-color: #00534C;
        position: relative;
        top: 0;
    }

    .tecmilenio__nav__sticky.tecmilenio__navbar__main {
        position: fixed;
        top: 0px;
    }

    .tecmilenio__navbar__main .container-xl {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        flex-wrap: nowrap;
    }

    .tecmilenio__navbar__main__logo {
        max-width: 250px;        
    }

    .tecmilenio__navbar__main__logo img {
        width: 100%;
    }

    .tecmilenio__burger {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


/* ==============================
END - TECMILENIO NAVBAR REGION
================================= */

/* ==============================
START - TECMILENIO NAV MAIN MENU
================================= */

:root {
    --arrow-forward-green-2: url(/home/luis/Desktop/sites/tecmilenio/sitio-actual/web/themes/custom/tecmilenio/images/icons/arrow_forward_green_2.svg);
    --arrow-forward-white: url(/home/luis/Desktop/sites/tecmilenio/sitio-actual/web/themes/custom/tecmilenio/images/icons/arrow_forward_white.svg);
}

.tecmilenio__nav__main__container {
    display: none;
    width: 100%;
    position: absolute;
    top: 81px;
    height: calc(100vh - 123px);
    left: 0;
    background-color: #00433D;
    padding: 40px;
}

.tn__activo .tecmilenio__nav__main__container {
    display: block;
}

.tecmilenio__nav__main__container> :first-child {
    margin-bottom: 40px;
}

.tecmilenio__nav__main__menu__container {
    display: block;
    align-self: flex-end;
    width: 100%;
    z-index: 1;
}

.tecmilenio__navbar__main .siu_mobile .tecmilenio__nav__main__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 46px;
}

/* ==============================
START - BUTTONS SECTION
================================= */

/* No activos */

.tecmilenio__navbar__main .siu_mobile .tecmilenio__nav__main__menu li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.tecmilenio__navbar__main .tecmilenio__nav__main__menu li a {
    cursor: pointer;
    color: white;
    transition: 0.3s ease;
    text-decoration: none;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}

.tecmilenio__navbar__main .tecmilenio__nav__main__menu li a:hover {
    color: #26D07C;
}

.tecmilenio__navbar__main .siu_mobile .tecmilenio__nav__main__menu li:not(:last-child) a {
    border-bottom: 1px solid #00A499;
}

/* Mientras el menu no este activo y solo los que no tengan href */
.tecmilenio__navbar__main .siu_mobile .tecmilenio__nav__main__menu:not(.tn__activo) a:not([href]).tn__menu__item_btn::after {
    content: var(--arrow-forward-green-2);
    position: absolute;
    right: 5px;
    top: 5px;
}

/* Solo los que no tenga href */
.tecmilenio__navbar__main .siu_mobile .tecmilenio__nav__main__menu .tn__submenu1__item .tn__submenu1__item__btn:not([href])::after {
    content: var(--arrow-forward-white);
    position: absolute;
    right: 5px;
    display: inline-block;
    transform: scaleX(-1) rotate(90deg);
}

.tecmilenio__navbar__main .siu_mobile .tecmilenio__nav__main__menu .tn__submenu1__item .tn__submenu1__item__btn:hover {
    color: #f1f1f1;
}

.tecmilenio__navbar__main .siu_mobile .tecmilenio__nav__main__menu .tn__submenu1__item .tn__submenu1 {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tecmilenio__navbar__main .siu_mobile .tecmilenio__nav__main__menu .tn__submenu1__item .tn__submenu1 .tn__submenu2__item .tn__submenu2__item__btn {
    background-color: #00A499;
    margin-bottom: 2px;
    padding-left: 20px;
}

/* Activos */

.tecmilenio__navbar__main .siu_mobile .tecmilenio__nav__main__menu.tn__activo .tn__submenu1__item .tn__menu__item_btn {
    border-color: #26D07C;
    color: #26D07C;
}

.tecmilenio__navbar__main .siu_mobile .tecmilenio__nav__main__menu.tn__activo .tn__submenu1__item .tn__menu__item_btn::before {
    content: var(--arrow-forward-green-2);
    position: relative;
    top: 5px;
    display: inline-block;
    transform: scaleX(-1);
    margin-right: 10px;
}

.tecmilenio__navbar__main .siu_mobile .tecmilenio__nav__main__menu .tn__submenu1__item.tn__activo .tn__submenu1__item__btn::after {
    transform: rotate(270deg);
}

.tecmilenio__navbar__main .siu_mobile .tecmilenio__nav__main__menu .tn__submenu1__item.tn__activo .tn__submenu1 {
    display: block;
}

/* ==============================
END - BUTTONS SECTION
================================= */

.tn__menu__submenu__container {
    display: none
}

/* Mobile breakpoint by Tecmilenio */
@media (min-width : 960px) {

    .tecmilenio__nav__main__container {
        display: flex;
        width: auto;
        position: initial;
        top: initial;
        height: auto;
        left: initial;
        padding: initial;
        background-color: transparent;
    }

    .tecmilenio__nav__main__container> :first-child {
        margin-bottom: 0;
    }

    .tn__activo .tecmilenio__nav__main__container {
        display: flex;
    }

    .tecmilenio__nav__main__menu__container {
        display: block;
        width: auto;
        z-index: 0;
        padding: 0;
    }

    .tecmilenio__navbar__main .tecmilenio__nav__main__menu {
        margin: 0px 0px;
        list-style-type: none;
    }

    .tecmilenio__navbar__main .tecmilenio__nav__main__menu .tn__menu__item {
        float: left;
        margin-right: 20px;
    }

    .tecmilenio__navbar__main .tecmilenio__nav__main__menu .tn__menu__item_btn {
        display: flex;
        align-items: center;
        height: 81px;
    }

    .tecmilenio__navbar__main .tecmilenio__nav__main__menu .tn__menu__item_btn.tn__activo {
        color: #26D07C;
    }

    .tn__menu__submenu__container {
        display: none;
    }

    .tn__activo.tn__menu__submenu__container {
        width: 100%;
        min-height: 350px;
        height: 100%;
        background-color: #00433D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        top: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        border-radius: 0px;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    }

    .tn__menu__submenu__container .tn__submenu-columna {
        flex: 1;
    }

    .tn__menu__submenu__container .tn__submenu-columna {
        padding: 40px;
    }

    .tn__menu__submenu__container .tn__submenu-columna:nth-child(-n+2) {
        overflow-y: auto;
    }

    .tn__menu__submenu__container .tn__submenu-columna:last-child {
        margin: 40px;
    }

    .tn__menu__submenu__container .tn__submenu-columna ul {
        list-style-type: none;
        padding: 0px;
        line-height: 46px;
    }

    .tn__menu__submenu__container .tn__submenu-columna ul li a {
        cursor: pointer;
        color: white;
        transition: 0.3s ease;
        text-decoration: none;
        font-family: "Source Sans Pro", Arial, sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
        width: 100%;
        display: inline-block;
    }

    .tn__menu__submenu__container .tn__submenu-columna ul li a:hover,
    .tn__menu__submenu__container .tn__submenu-columna ul li a.tn__activo {
        color: #00A499;
    }

    .tn__menu__submenu__container .tn__submenu-columna .tn__submenu1 li {
        border-bottom: 1px solid #00A499;
    }

    .tn__menu__submenu__container .tn__submenu-columna.submenu_imagen {
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: cover !important;
    }
}

@media (min-width : 1300px) {
    .tn__activo.tn__menu__submenu__container {
        width: 1300px;
        min-height: 350px;
        height: 100%;
        background-color: #00433D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        top: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        border-radius: 0px 0px 10px 10px;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    }

    .tn__menu__submenu__container .tn__submenu-columna:last-child {
        margin: 40px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* ==============================
END - TECMILENIO NAV MAIN MENU
================================= */